<!DOCTYPE html>
<html  data-bs-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>Krunal Chandan</title>
</head>
<body>
  
  <div class="container">
    <h1 class="text-center mt-2 mb-4">Krunal Chandan</h1>
    <!-- <h2>Demo Portfolio Till this line is removed..... </h2> -->
    <div class="row border-bottom" style="margin-bottom:18px;padding-bottom:20px;">
      <div class="col-4">
        <img src='/static/krunalChandan.jpg' width="400" height="600" style="margin: auto auto; object-fit:cover;">
      </div>
      
      <div class="col-8">
        <h2 class="text-center mt-2 mb-4">About Me</h2>
          <p class="lead">A dedicated and talented student at YCCE, Nagpur, pursuing a degree in Computer Science and Design. Having strong foundation in coding and a diverse skill set. Here’s a bit about me:
            <ul class="lead">
              <li><strong>Programming Languages:</strong> Skilled in Python, Basics of C & Java.</li>
              <li><strong>Web Development:</strong> Proficient in HTML, CSS, JavaScript, and TypeScript, NativeWind.</li>
              <li><strong>Mobile App Development:</strong> Experience in React-Native.</li>
              <li><strong>Frameworks:</strong> Familiar with Flask, Django, Pygame.</li>
              <li><strong>Databases:</strong> SQLite.</li>
              <li><strong>Operating Systems:</strong>Android and Windows.</li>
            </ul>
        </p>
        <p class="lead">
          I am a 5-star coder on HackerRank, demonstrating my problem-solving abilities and understanding of algorithms and data structures.<br><br>
  
          My commitment to continuous learning and improvement is evident through my active participation in coding challenges and projects. My versatility and drive make me a valuable asset in any collaborative environment, and I am always eager to adapt to new technologies to stay ahead in the rapidly evolving field of computer science and design.</p>
      </div>
    </div>

    
    <h2 class="text-center mt-2 mb-4">Projects</h2>
    <div>
      {% for project in projects %}
        {% include 'projectItem.html' %}
      {% endfor %}
      </div>
    <div class="text-center">
      <button type="button" class="btn btn-outline-primary" onclick="window.location.href='mailto:krunal.devv@gmail.com';">Contact Me</button>
      <p class="mt-4">&copy; 2024, Krunal Chandan</p>
    </div>

    <!-- <div id="chatbot">
      <iframe src="https://app.vectorshift.ai/chatbots/embedded/669688cf6d1c34d35e49cee6?openChatbot=true" width="500px" height="600px" style="border: none; position: fixed; bottom: 0; right: 0; margin: 10px;" allow="clipboard-read; clipboard-write"/>
    </div> -->
</div>
</body>
</html>